@import "tailwindcss";
@plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, light --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: blue;
  --color-secondary: teal;
}